body {
background-color: rgb(207, 11, 11);
color: rgb(101, 3, 121);
font-family: Arial, Helvetica, sans-serif;
}

header {
background-color: black;
color: rgb(9, 54, 3);
text-align: end;
padding: 0cm;
}

h1 {
    font-size: larger;
}

h2 {
    color: rgb(21, 4, 177);
}

p{
font-size: xx-large;
line-height: normal;
}
  nav 
       margin-top: 20px;
    {
        nav a 
    }
     color: white;
     text-decoraConsumido há milhares de anos — desde os povos originários como os Kaingang, Xokleng e grupos proto-jês —, o pinhão formou a base alimentar de inverno no planalto meridional e consolidou uma rica tradição cultural ligada ao extrativismo e ao frio. tion: none;
     background-color: #9b4d83;
     padding: 10px 15px;
     border-radius: 8px;
     margin: 5px;
     display: inline-block;

{
      nav a:hover{
        background: color-mix(in hsl shorter hue, color percentage, color percentage)
      }

       main {
width:80%
margin: auto;        
       }

      section {
background-color: white
margin


      }







}

   
    
